.container {
  flex: 1;
  position: relative;
  padding: 30px 40px;
  min-height: 400px;
  max-width: 630px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 25px 0px var(--shadow);
  background: linear-gradient(90deg, var(--white2), var(--blue2));
  font-size: 1.2em;
  line-height: normal;

  @media screen and (max-width: 1060px) {
    max-width: 100%;
    min-height: auto;
  }
}
