.container {
  display: flex;
  flex-direction: column;
}

.contentHeader {
  min-height: 110px;
  margin-bottom: 31px;
  @media screen and (max-width: 600px) {
    min-height: 50px;
  }
}

.title {
  color: var(--blue);
  font-size: 2em;
  font-family: 'gothic';
}

.items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
